body{margin: 0px;height: 100vh;width: 100vw;}
iframe{height:100%;width:100%;position:absolute;margin:0px;border-style:none;display: inline;}
/*<link rel="stylesheet" type="text/css" href="file:///android_asset/css/frame.css">